{% extends "base.html" %}
{% load static %}
{% load change_value_format %}

{% block body %}
    <main class="main-wrapper">
        <!-- Start Categorie Area  -->
        <div class="axil-categorie-area pt--30 bg-color-white">
            <div class="container">
                <div class="categrie-product-activation-2 categorie-product-two slick-layout-wrapper--15">
                    {% for category in categories %}
                    <div class="slick-single-layout slick-slide">
                        <div class="categrie-product-2">
                            <a href="#">
                                <img class="img-fluid" src="/static/assets/images/product/categories/furni-1.png" alt="product categorie">
                                <h6 class="cat-title">{{category.name}}</h6>
                            </a>
                        </div>
                        <!-- End .categrie-product -->
                    </div>
                    <!-- End .slick-single-layout -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Categorie Area  -->

        <!-- Start Slider Area -->
        <div class="axil-main-slider-area main-slider-style-5">
            <div class="container">
                <div class="slider-box-wrap">
                    <div class="slider-activation-two axil-slick-dots">
                        <div class="single-slide slick-slide">
                            <div class="main-slider-content">
                                <span class="subtitle"><i class="fas fa-fire"></i> Hot Deal In This Week</span>
                                <h1 class="title">Neon Stylish Sofa Chair</h1>
                                <div class="shop-btn">
                                    <a href="shop.html" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i> Shop Now</a>
                                </div>
                            </div>
                            <div class="main-slider-thumb">
                                <img src="/static/assets/images/product/product-47.png" alt="Product">
                            </div>
                        </div>
                        <div class="single-slide slick-slide">
                            <div class="main-slider-content">
                                <span class="subtitle"><i class="fas fa-fire"></i> Hot Deal In This Week</span>
                                <h1 class="title">Sofa Chair with Lamp</h1>
                                <div class="shop-btn">
                                    <a href="shop.html" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i> Shop Now</a>
                                </div>
                            </div>
                            <div class="main-slider-thumb">
                                <img src="/static/assets/images/product/product-48.png" alt="Product">
                            </div>
                        </div>
                        <div class="single-slide slick-slide">
                            <div class="main-slider-content">
                                <span class="subtitle"><i class="fas fa-fire"></i> Hot Deal In This Week</span>
                                <h1 class="title">Neon Stylish Sofa Chair</h1>
                                <div class="shop-btn">
                                    <a href="shop.html" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i> Shop Now</a>
                                </div>
                            </div>
                            <div class="main-slider-thumb">
                                <img src="/static/assets/images/product/product-47.png" alt="Product">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area -->

        <!-- Start Expolre Product Area  -->
        <div class="axil-product-area bg-color-white axil-section-gap pb--0">
            <div class="container">
                <div class="product-area pb--80">
                    <div class="section-title-wrapper">
                        <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i> Our Products</span>
                        <h2 class="title">Explore our Products</h2>
                    </div>
                    <div class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                        <div class="slick-single-layout">
                            <div class="row row--15">
                                {% for product in products|slice:8 %}
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                                    <div class="axil-product product-style-one">
                                        <div class="thumbnail">
                                            <a href="single-product.html">
                                                <img data-sal="zoom-out" data-sal-delay="100" data-sal-duration="1500" src="{{product.productimage_set.first.image.url}}" alt="{{product.name}}">
                                            </a>
                                            <div class="product-hover-action">
                                                <ul class="cart-action">
                                                    <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                                                    <li class="select-option"><a href="cart.html">Add to Cart</a></li>
                                                    <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="inner">
                                                <h5 class="title"><a href="single-product.html">{{product.name}}</a></h5>
                                                <div class="product-price-variant">
                                                    <span class="price current-price">{{product.total_price|formatize}} AZN</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Product  -->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center mt--20 mt_sm--0">
                            <a href="shop.html" class="axil-btn btn-bg-lighter btn-load-more">View All Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Expolre Product Area  -->



    </main>


{% endblock %}